#define BINARY_RESOURCE 301
#define UNINSTALLER_RESOURCE 302
#define LICENSE_RESOURCE 303

BINARY_RESOURCE RCDATA "wedge.exe"
UNINSTALLER_RESOURCE RCDATA "uninstaller.exe"
LICENSE_RESOURCE RCDATA "LICENSE"