#define INSTALL_DIALOG 101
#define ID_PROGRESS 1001
#define ID_RICH_EDIT 1002

INSTALL_DIALOG DIALOGEX 0, 0, 350, 150
STYLE DS_SETFONT | DS_MODALFRAME | DS_FIXEDSYS | WS_OVERLAPPED | WS_CAPTION | WS_SYSMENU | DS_CENTER | WS_MINIMIZEBOX
CAPTION "Install Wedge - The simple Open-Source Edge Deflector"
FONT 10, "MS Shell Dlg", 0, 0, 0x1
BEGIN
    CONTROL 0, ID_PROGRESS, "msctls_progress32", WS_CHILD, 7, 7, 336, 14
    EDITTEXT ID_RICH_EDIT, 7, 28, 336, 115, WS_VSCROLL | ES_READONLY | ES_MULTILINE
END